.card-grid {
    position: relative;
}
.card-grid img {
    width: 300px;
    height: 300px;  
    border: 2px solid white;  
    border-radius: 10px;
}

.card-grid .front {
    position: absolute;
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
}

.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.card-grid .back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}
