.title {
    color:aliceblue;
    -webkit-text-stroke: 1px rgb(254, 197, 15);
}

hr {
    border-color: rgb(254, 197, 15);
    border-width: 3px;
}

.info {
    color: aliceblue;
    font-size: 22px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px){
    .table {
        display: table;
        list-style-type: none;
        width: 80% !important;
        padding: 61px !important
    }
}