.sidenav { 
    position: fixed;
    top: 0;
    bottom: 0;
    transition: all 1s;
    height: 100%; 
    width: 16% !important; 
    font-size: 30px;
    z-index: 10;   
}

/* .navStyle {
  width: 50% !important;
} */

.ps-sidebar-root { 
    height: 100%; 
    /* width: 50%; */
    /* z-index: 2;   */
  } 

  .menuItemCenter {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 70px;
    font-size: 50px;
  }

  .menuItem {
    margin-bottom: 40px; 
  }

.ps-menu-button:hover {
    background-color: transparent !important;
    border: 3px solid rgb(254, 197, 15);
    scale: 0.9;
    transition: 0.2s ease-in;
}

.navIcon {
    font-size: 50px;
  }

  
/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .sidenav {
    width: 200px; 
    height: 100vh; 
  }
  .navIcon {
    font-size: 40px; 
  }

  .hidden {
    display: none;
  }

  .sm-burger {
    position: fixed;
    top: 10px;
    left: 15px;
    z-index: 999;
    scale: 1.2;
    cursor: pointer;
    transition: left 0.3s ease;
  }

  .sm-burger.active {
    left: 95px;
  }

  .sm-burger.open {
    left: 270px;
  }

}

