/* TicTacToe.css */

.board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh; 
  position: relative; 
}


/* Add styling for winning squares */
.square.winning {
  text-decoration: line-through;
}

.square.winning {
  text-decoration: line-through;
  animation-name: pulse;
  animation-duration: 1s; 
  animation-iteration-count: infinite;
}


.board {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px); 
}


.square {
  background: #fff;
  border: 2px solid #000;
  font-size: 48px; /* Increase font size */
  font-weight: bold;
  line-height: 150px; /* Adjust line height for vertical centering */
  height: 150px; /* Increase square size */
  margin: 0;
  padding: 0;
  text-align: center;
  width: 150px; /* Increase square size */
}

.square:focus {
  outline: none;
}

/* Style the game status */
.status {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  position: absolute; 
  top: 70px;
  left: 48%;
  transform: translateX(-50%); 
  z-index: 1; 
}
.square.X {
  color: #ff00ff; /* Neon purple */
}

.square.O {
  color: #ff00ff; /* Neon purple */
}
.reset-button {
  margin-top: 20px;
  margin-bottom: 20px; 
  padding: 10px 20px;
  font-size: 18px;
  background-color: #14d214; /* Green */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reset-button:hover {
  background-color: #3f29cf;
}